In [5]:
# Supress Warnings

import warnings
warnings.filterwarnings('ignore')

In [6]:
# Import the numpy and pandas packages

import numpy as np
import pandas as pd

## Task 1: Reading and Inspection

-  ### Subtask 1.1: Import and read

Import and read the movie database. Store it in a variable called `movies`.

In [8]:
#movies = # Write your code for importing the csv file here
movies = pd.read_csv("Movie+Assignment+Data (1).csv")

-  ### Subtask 1.2: Inspect the dataframe

Inspect the dataframe's columns, shapes, variable types etc.

In [10]:
# Write your code for inspection here
print("DataFrame Shape:", movies.shape)
print("DataFrame Columns:", movies.columns)
print("DataFrame Variable Types:\n", movies.dtypes)
print("DataFrame Head:\n", movies.head())
print("DataFrame Info:\n", movies.info())
print("DataFrame Description:\n", movies.describe())

DataFrame Shape: (5043, 28)
DataFrame Columns: Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')
DataFrame Variable Types:
 color                         object
director_name                 object
num_critic_for_reviews       float64
duration                     float64
director_facebook_likes      float64
actor_3_facebook_likes       float64
actor_2_name                  object
actor_1_facebook_likes       float64
gross                        float64
genres                        object
actor_1_name                  object
movie_title                   object
num_voted_users                int64
cast_total_facebook_likes      int64
actor_3_name                  object
facenumber_in_poster         float64
plot_keywords                 object
movie_imdb_link               object
num_user_for_reviews         float64
language                      object
country                       object
content_rating                object
budget                       float64
title_year                   float64
actor_2_facebook_likes       float64
imdb_score                   float64
aspect_ratio                 float64
movie_facebook_likes           int64
dtype: object
DataFrame Head:
    color      director_name  num_critic_for_reviews  duration  \
0  Color      James Cameron                   723.0     178.0
1  Color     Gore Verbinski                   302.0     169.0
2  Color         Sam Mendes                   602.0     148.0
3  Color  Christopher Nolan                   813.0     164.0
4    NaN        Doug Walker                     NaN       NaN

   director_facebook_likes  actor_3_facebook_likes      actor_2_name  \
0                      0.0                   855.0  Joel David Moore
1                    563.0                  1000.0     Orlando Bloom
2                      0.0                   161.0      Rory Kinnear
3                  22000.0                 23000.0    Christian Bale
4                    131.0                     NaN        Rob Walker

   actor_1_facebook_likes        gross                           genres  ...  \
0                  1000.0  760505847.0  Action|Adventure|Fantasy|Sci-Fi  ...
1                 40000.0  309404152.0         Action|Adventure|Fantasy  ...
2                 11000.0  200074175.0        Action|Adventure|Thriller  ...
3                 27000.0  448130642.0                  Action|Thriller  ...
4                   131.0          NaN                      Documentary  ...

  num_user_for_reviews language  country  content_rating       budget  \
0               3054.0  English      USA           PG-13  237000000.0
1               1238.0  English      USA           PG-13  300000000.0
2                994.0  English       UK           PG-13  245000000.0
3               2701.0  English      USA           PG-13  250000000.0
4                  NaN      NaN      NaN             NaN          NaN

   title_year actor_2_facebook_likes imdb_score  aspect_ratio  \
0      2009.0                  936.0        7.9          1.78
1      2007.0                 5000.0        7.1          2.35
2      2015.0                  393.0        6.8          2.35
3      2012.0                23000.0        8.5          2.35
4         NaN                   12.0        7.1           NaN

  movie_facebook_likes
0                33000
1                    0
2                85000
3               164000
4                    0

[5 rows x 28 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      5024 non-null   object
 1   director_name              4939 non-null   object
 2   num_critic_for_reviews     4993 non-null   float64
 3   duration                   5028 non-null   float64
 4   director_facebook_likes    4939 non-null   float64
 5   actor_3_facebook_likes     5020 non-null   float64
 6   actor_2_name               5030 non-null   object
 7   actor_1_facebook_likes     5036 non-null   float64
 8   gross                      4159 non-null   float64
 9   genres                     5043 non-null   object
 10  actor_1_name               5036 non-null   object
 11  movie_title                5043 non-null   object
 12  num_voted_users            5043 non-null   int64
 13  cast_total_facebook_likes  5043 non-null   int64
 14  actor_3_name               5020 non-null   object
 15  facenumber_in_poster       5030 non-null   float64
 16  plot_keywords              4890 non-null   object
 17  movie_imdb_link            5043 non-null   object
 18  num_user_for_reviews       5022 non-null   float64
 19  language                   5029 non-null   object
 20  country                    5038 non-null   object
 21  content_rating             4740 non-null   object
 22  budget                     4551 non-null   float64
 23  title_year                 4935 non-null   float64
 24  actor_2_facebook_likes     5030 non-null   float64
 25  imdb_score                 5043 non-null   float64
 26  aspect_ratio               4714 non-null   float64
 27  movie_facebook_likes       5043 non-null   int64
dtypes: float64(13), int64(3), object(12)
memory usage: 1.1+ MB
DataFrame Info:
 None
DataFrame Description:
        num_critic_for_reviews     duration  director_facebook_likes  \
count             4993.000000  5028.000000              4939.000000
mean               140.194272   107.201074               686.509212
std                121.601675    25.197441              2813.328607
min                  1.000000     7.000000                 0.000000
25%                 50.000000    93.000000                 7.000000
50%                110.000000   103.000000                49.000000
75%                195.000000   118.000000               194.500000
max                813.000000   511.000000             23000.000000

       actor_3_facebook_likes  actor_1_facebook_likes         gross  \
count             5020.000000             5036.000000  4.159000e+03
mean               645.009761             6560.047061  4.846841e+07
std               1665.041728            15020.759120  6.845299e+07
min                  0.000000                0.000000  1.620000e+02
25%                133.000000              614.000000  5.340988e+06
50%                371.500000              988.000000  2.551750e+07
75%                636.000000            11000.000000  6.230944e+07
max              23000.000000           640000.000000  7.605058e+08

       num_voted_users  cast_total_facebook_likes  facenumber_in_poster  \
count     5.043000e+03                5043.000000           5030.000000
mean      8.366816e+04                9699.063851              1.371173
std       1.384853e+05               18163.799124              2.013576
min       5.000000e+00                   0.000000              0.000000
25%       8.593500e+03                1411.000000              0.000000
50%       3.435900e+04                3090.000000              1.000000
75%       9.630900e+04               13756.500000              2.000000
max       1.689764e+06              656730.000000             43.000000

       num_user_for_reviews        budget   title_year  \
count           5022.000000  4.551000e+03  4935.000000
mean             272.770808  3.975262e+07  2002.470517
std              377.982886  2.061149e+08    12.474599
min                1.000000  2.180000e+02  1916.000000
25%               65.000000  6.000000e+06  1999.000000
50%              156.000000  2.000000e+07  2005.000000
75%              326.000000  4.500000e+07  2011.000000
max             5060.000000  1.221550e+10  2016.000000

       actor_2_facebook_likes   imdb_score  aspect_ratio  movie_facebook_likes
count             5030.000000  5043.000000   4714.000000           5043.000000
mean              1651.754473     6.442138      2.220403           7525.964505
std               4042.438863     1.125116      1.385113          19320.445110
min                  0.000000     1.600000      1.180000              0.000000
25%                281.000000     5.800000      1.850000              0.000000
50%                595.000000     6.600000      2.350000            166.000000
75%                918.000000     7.200000      2.350000           3000.000000
max             137000.000000     9.500000     16.000000         349000.000000

## Task 2: Cleaning the Data

-  ### Subtask 2.1: Inspect Null values

Find out the number of Null values in all the columns and rows. Also, find the percentage of Null values in each column. Round off the percentages upto two decimal places.

In [12]:
# Write your code for column-wise null count here
null_count = movies.isnull().sum()
print(null_count)

color                         19
director_name                104
num_critic_for_reviews        50
duration                      15
director_facebook_likes      104
actor_3_facebook_likes        23
actor_2_name                  13
actor_1_facebook_likes         7
gross                        884
genres                         0
actor_1_name                   7
movie_title                    0
num_voted_users                0
cast_total_facebook_likes      0
actor_3_name                  23
facenumber_in_poster          13
plot_keywords                153
movie_imdb_link                0
num_user_for_reviews          21
language                      14
country                        5
content_rating               303
budget                       492
title_year                   108
actor_2_facebook_likes        13
imdb_score                     0
aspect_ratio                 329
movie_facebook_likes           0
dtype: int64

In [14]:
# Write your code for row-wise null count here
row_null_count = movies.isnull().sum(axis=1)
print(row_null_count)

0        0
1        0
2        0
3        0
4       14
        ..
5038     4
5039     5
5040     4
5041     2
5042     0
Length: 5043, dtype: int64

In [31]:
# Write your code for column-wise null percentages here
null_percentages = (movies.isnull().sum() / len(movies)) * 100
print(null_percentages)

color                         0.376760
director_name                 2.062265
num_critic_for_reviews        0.991473
duration                      0.297442
director_facebook_likes       2.062265
actor_3_facebook_likes        0.456078
actor_2_name                  0.257783
actor_1_facebook_likes        0.138806
gross                        17.529248
genres                        0.000000
actor_1_name                  0.138806
movie_title                   0.000000
num_voted_users               0.000000
cast_total_facebook_likes     0.000000
actor_3_name                  0.456078
facenumber_in_poster          0.257783
plot_keywords                 3.033908
movie_imdb_link               0.000000
num_user_for_reviews          0.416419
language                      0.277613
country                       0.099147
content_rating                6.008328
budget                        9.756098
title_year                    2.141582
actor_2_facebook_likes        0.257783
imdb_score                    0.000000
aspect_ratio                  6.523895
movie_facebook_likes          0.000000
dtype: float64

-  ### Subtask 2.2: Drop unecessary columns

For this assignment, you will mostly be analyzing the movies with respect to the ratings, gross collection, popularity of movies, etc. So many of the columns in this dataframe are not required. So it is advised to drop the following columns.
-  color
-  director_facebook_likes
-  actor_1_facebook_likes
-  actor_2_facebook_likes
-  actor_3_facebook_likes
-  actor_2_name
-  cast_total_facebook_likes
-  actor_3_name
-  duration
-  facenumber_in_poster
-  content_rating
-  country
-  movie_imdb_link
-  aspect_ratio
-  plot_keywords

In [61]:
# Write your code for dropping the columns here. It is advised to keep inspecting the dataframe after each set of operations 
dm=movies.drop(['color', 'director_facebook_likes','actor_1_facebook_likes','actor_2_facebook_likes','actor_3_facebook_likes','actor_2_name','cast_total_facebook_likes','actor_3_name','duration','facenumber_in_poster','content_rating','country','movie_imdb_link','aspect_ratio','plot_keywords'], axis=1)
dm

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,profit
0,James Cameron,723.0,7.605058e-04,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,3054.0,English,2.370000e-04,2009.0,7.9,33000,0.000524
29,Colin Trevorrow,644.0,6.521773e-04,Action|Adventure|Sci-Fi|Thriller,Bryce Dallas Howard,Jurassic World,418214,1290.0,English,1.500000e-04,2015.0,7.0,150000,0.000502
26,James Cameron,315.0,6.586723e-04,Drama|Romance,Leonardo DiCaprio,Titanic,793059,2528.0,English,2.000000e-04,1997.0,7.7,26000,0.000459
3024,George Lucas,282.0,4.609357e-04,Action|Adventure|Fantasy|Sci-Fi,Harrison Ford,Star Wars: Episode IV - A New Hope,911097,1470.0,English,1.100000e-05,1977.0,8.7,33000,0.000450
3080,Steven Spielberg,215.0,4.349495e-04,Family|Sci-Fi,Henry Thomas,E.T. the Extra-Terrestrial,281842,515.0,English,1.050000e-05,1982.0,7.9,34000,0.000424
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5036,Anthony Vallone,NaN,NaN,Crime|Drama,Richard Jewell,The Mongol King,36,1.0,English,3.250000e-09,2005.0,7.8,4,NaN
5038,Scott Smith,1.0,NaN,Comedy|Drama,Eric Mabius,Signed Sealed Delivered,629,6.0,English,NaN,2013.0,7.7,84,NaN
5039,NaN,43.0,NaN,Crime|Drama|Mystery|Thriller,Natalie Zea,The Following,73839,359.0,English,NaN,NaN,7.5,32000,NaN
5040,Benjamin Roberds,13.0,NaN,Drama|Horror|Thriller,Eva Boehnke,A Plague So Pleasant,38,3.0,English,1.400000e-09,2013.0,6.3,16,NaN
5041,Daniel Hsia,14.0,1.044300e-08,Comedy|Drama|Romance,Alan Ruck,Shanghai Calling,1255,9.0,English,NaN,2012.0,6.3,660,NaN

-  ### Subtask 2.3: Drop unecessary rows using columns with high Null percentages

Now, on inspection you might notice that some columns have large percentage (greater than 5%) of Null values. Drop all the rows which have Null values for such columns.

In [172]:
# Write your code for dropping the rows here
null_percentages = (dm.isnull().sum() / len(dm)) * 100
columns_to_drop = null_percentages[null_percentages > 5].index
new_dm=dm.dropna(subset=columns_to_drop)

new_dm

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,profit
0,James Cameron,723.0,7.605058e-04,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,3054.0,English,0.000237,2009.0,7.9,33000,0.000524
29,Colin Trevorrow,644.0,6.521773e-04,Action|Adventure|Sci-Fi|Thriller,Bryce Dallas Howard,Jurassic World,418214,1290.0,English,0.000150,2015.0,7.0,150000,0.000502
26,James Cameron,315.0,6.586723e-04,Drama|Romance,Leonardo DiCaprio,Titanic,793059,2528.0,English,0.000200,1997.0,7.7,26000,0.000459
3024,George Lucas,282.0,4.609357e-04,Action|Adventure|Fantasy|Sci-Fi,Harrison Ford,Star Wars: Episode IV - A New Hope,911097,1470.0,English,0.000011,1977.0,8.7,33000,0.000450
3080,Steven Spielberg,215.0,4.349495e-04,Family|Sci-Fi,Henry Thomas,E.T. the Extra-Terrestrial,281842,515.0,English,0.000010,1982.0,7.9,34000,0.000424
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2334,Katsuhiro Ôtomo,105.0,4.103880e-07,Action|Adventure|Animation|Family|Sci-Fi|Thriller,William Hootkins,Steamboy,13727,79.0,Japanese,0.002128,2004.0,6.9,973,-0.002127
2323,Hayao Miyazaki,174.0,2.298191e-06,Adventure|Animation|Fantasy,Minnie Driver,Princess Mononoke,221552,570.0,Japanese,0.002400,1997.0,8.4,11000,-0.002398
3005,Lajos Koltai,73.0,1.958880e-07,Drama|Romance|War,Marcell Nagy,Fateless,5603,45.0,Hungarian,0.002500,2005.0,7.1,607,-0.002500
3859,Chan-wook Park,202.0,2.116670e-07,Crime|Drama,Min-sik Choi,Lady Vengeance,53508,131.0,Korean,0.004200,2005.0,7.7,4000,-0.004200
2988,Joon-ho Bong,363.0,2.201412e-06,Comedy|Drama|Horror|Sci-Fi,Doona Bae,The Host,68883,279.0,Korean,0.012216,2006.0,7.0,7000,-0.012213

-  ### Subtask 2.4: Drop unecessary rows

Some of the rows might have greater than five NaN values. Such rows aren't of much use for the analysis and hence, should be removed.

In [190]:
# Write your code for dropping the rows here


new_dm1 = new_dm.loc[df.isnull().sum(axis=1) <= 5]
new_dm1

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,profit
0,James Cameron,723.0,7.605058e-04,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,3054.0,English,0.000237,2009.0,7.9,33000,0.000524
29,Colin Trevorrow,644.0,6.521773e-04,Action|Adventure|Sci-Fi|Thriller,Bryce Dallas Howard,Jurassic World,418214,1290.0,English,0.000150,2015.0,7.0,150000,0.000502
26,James Cameron,315.0,6.586723e-04,Drama|Romance,Leonardo DiCaprio,Titanic,793059,2528.0,English,0.000200,1997.0,7.7,26000,0.000459
3024,George Lucas,282.0,4.609357e-04,Action|Adventure|Fantasy|Sci-Fi,Harrison Ford,Star Wars: Episode IV - A New Hope,911097,1470.0,English,0.000011,1977.0,8.7,33000,0.000450
3080,Steven Spielberg,215.0,4.349495e-04,Family|Sci-Fi,Henry Thomas,E.T. the Extra-Terrestrial,281842,515.0,English,0.000010,1982.0,7.9,34000,0.000424
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2334,Katsuhiro Ôtomo,105.0,4.103880e-07,Action|Adventure|Animation|Family|Sci-Fi|Thriller,William Hootkins,Steamboy,13727,79.0,Japanese,0.002128,2004.0,6.9,973,-0.002127
2323,Hayao Miyazaki,174.0,2.298191e-06,Adventure|Animation|Fantasy,Minnie Driver,Princess Mononoke,221552,570.0,Japanese,0.002400,1997.0,8.4,11000,-0.002398
3005,Lajos Koltai,73.0,1.958880e-07,Drama|Romance|War,Marcell Nagy,Fateless,5603,45.0,Hungarian,0.002500,2005.0,7.1,607,-0.002500
3859,Chan-wook Park,202.0,2.116670e-07,Crime|Drama,Min-sik Choi,Lady Vengeance,53508,131.0,Korean,0.004200,2005.0,7.7,4000,-0.004200
2988,Joon-ho Bong,363.0,2.201412e-06,Comedy|Drama|Horror|Sci-Fi,Doona Bae,The Host,68883,279.0,Korean,0.012216,2006.0,7.0,7000,-0.012213

-  ### Subtask 2.5: Fill NaN values

You might notice that the `language` column has some NaN values. Here, on inspection, you will see that it is safe to replace all the missing values with `'English'`.

In [192]:
# Write your code for filling the NaN values in the 'language' column here
new_dm1.loc[:, 'language'] = new_dm1['language'].fillna('English')

-  ### Subtask 2.6: Check the number of retained rows

You might notice that two of the columns viz. `num_critic_for_reviews` and `actor_1_name` have small percentages of NaN values left. You can let these columns as it is for now. Check the number and percentage of the rows retained after completing all the tasks above.

In [194]:
# Write your code for checking number of retained rows here
original_row_count = movies.shape[0]
current_row_count = new_dm1.shape[0]
num_rows_retained = current_row_count
percent_rows_retained = (num_rows_retained / original_row_count) * 100

print("Original Number of Rows:", original_row_count)
print("Number of Rows Retained:", num_rows_retained)
print("Percentage of Rows Retained:", percent_rows_retained, "%")

Original Number of Rows: 4998
Number of Rows Retained: 3857
Percentage of Rows Retained: 77.17086834733894 %

**Checkpoint 1:** You might have noticed that we still have around `77%` of the rows!

## Task 3: Data Analysis

-  ### Subtask 3.1: Change the unit of columns

Convert the unit of the `budget` and `gross` columns from `$` to `million $`.

In [196]:
# Write your code for unit conversion here
new_dm1.loc[:, 'budget'] = new_dm1['budget'] / 1e6
new_dm1.loc[:, 'gross'] = new_dm1['gross'] / 1e6

-  ### Subtask 3.2: Find the movies with highest profit

    1. Create a new column called `profit` which contains the difference of the two columns: `gross` and `budget`.
    2. Sort the dataframe using the `profit` column as reference.
    3. Extract the top ten profiting movies in descending order and store them in a new dataframe - `top10`

In [198]:
# Write your code for creating the profit column here
new_dm1.loc[:, 'profit'] = new_dm1['gross'] - new_dm1['budget']

new_dm1.profit

0       5.235058e-10
29      5.021773e-10
26      4.586723e-10
3024    4.499357e-10
3080    4.244495e-10
            ...
2334   -2.127110e-09
2323   -2.397702e-09
3005   -2.499804e-09
3859   -4.199788e-09
2988   -1.221330e-08
Name: profit, Length: 3857, dtype: float64

In [200]:
# Write your code for sorting the dataframe here
new_dm1 = new_dm1.sort_values(by='profit', ascending=False)

In [202]:
#top10 = # Write your code to get the top 10 profiting movies here
top10 = new_dm.nlargest(10, 'profit')
print(top10)

          director_name  num_critic_for_reviews     gross  \
0         James Cameron                   723.0  0.000761
29      Colin Trevorrow                   644.0  0.000652
26        James Cameron                   315.0  0.000659
3024       George Lucas                   282.0  0.000461
3080   Steven Spielberg                   215.0  0.000435
794         Joss Whedon                   703.0  0.000623
509        Roger Allers                   186.0  0.000423
240        George Lucas                   320.0  0.000475
66    Christopher Nolan                   645.0  0.000533
439           Gary Ross                   673.0  0.000408

                                        genres         actor_1_name  \
0              Action|Adventure|Fantasy|Sci-Fi          CCH Pounder
29            Action|Adventure|Sci-Fi|Thriller  Bryce Dallas Howard
26                               Drama|Romance    Leonardo DiCaprio
3024           Action|Adventure|Fantasy|Sci-Fi        Harrison Ford
3080                             Family|Sci-Fi         Henry Thomas
794                    Action|Adventure|Sci-Fi      Chris Hemsworth
509   Adventure|Animation|Drama|Family|Musical    Matthew Broderick
240            Action|Adventure|Fantasy|Sci-Fi      Natalie Portman
66                 Action|Crime|Drama|Thriller       Christian Bale
439            Adventure|Drama|Sci-Fi|Thriller    Jennifer Lawrence

                                     movie_title  num_voted_users  \
0                                        Avatar            886204
29                               Jurassic World            418214
26                                      Titanic            793059
3024         Star Wars: Episode IV - A New Hope            911097
3080                 E.T. the Extra-Terrestrial            281842
794                                The Avengers            995415
509                               The Lion King            644348
240   Star Wars: Episode I - The Phantom Menace            534658
66                              The Dark Knight           1676169
439                            The Hunger Games            701607

      num_user_for_reviews language    budget  title_year  imdb_score  \
0                   3054.0  English  0.000237      2009.0         7.9
29                  1290.0  English  0.000150      2015.0         7.0
26                  2528.0  English  0.000200      1997.0         7.7
3024                1470.0  English  0.000011      1977.0         8.7
3080                 515.0  English  0.000010      1982.0         7.9
794                 1722.0  English  0.000220      2012.0         8.1
509                  656.0  English  0.000045      1994.0         8.5
240                 3597.0  English  0.000115      1999.0         6.5
66                  4667.0  English  0.000185      2008.0         9.0
439                 1959.0  English  0.000078      2012.0         7.3

      movie_facebook_likes    profit
0                    33000  0.000524
29                  150000  0.000502
26                   26000  0.000459
3024                 33000  0.000450
3080                 34000  0.000424
794                 123000  0.000403
509                  17000  0.000378
240                  13000  0.000360
66                   37000  0.000348
439                 140000  0.000330

-  ### Subtask 3.3: Drop duplicate values

After you found out the top 10 profiting movies, you might have notice a duplicate value. So, it seems like the dataframe has duplicate values as well. Drop the duplicate values from the dataframe and repeat `Subtask 3.2`.

In [204]:
# Write your code for dropping duplicate values here
new_df = new_dm1.drop_duplicates()
new_df

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,profit
0,James Cameron,723.0,7.605058e-10,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,3054.0,English,2.370000e-10,2009.0,7.9,33000,5.235058e-10
29,Colin Trevorrow,644.0,6.521773e-10,Action|Adventure|Sci-Fi|Thriller,Bryce Dallas Howard,Jurassic World,418214,1290.0,English,1.500000e-10,2015.0,7.0,150000,5.021773e-10
26,James Cameron,315.0,6.586723e-10,Drama|Romance,Leonardo DiCaprio,Titanic,793059,2528.0,English,2.000000e-10,1997.0,7.7,26000,4.586723e-10
3024,George Lucas,282.0,4.609357e-10,Action|Adventure|Fantasy|Sci-Fi,Harrison Ford,Star Wars: Episode IV - A New Hope,911097,1470.0,English,1.100000e-11,1977.0,8.7,33000,4.499357e-10
3080,Steven Spielberg,215.0,4.349495e-10,Family|Sci-Fi,Henry Thomas,E.T. the Extra-Terrestrial,281842,515.0,English,1.050000e-11,1982.0,7.9,34000,4.244495e-10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2334,Katsuhiro Ôtomo,105.0,4.103880e-13,Action|Adventure|Animation|Family|Sci-Fi|Thriller,William Hootkins,Steamboy,13727,79.0,Japanese,2.127520e-09,2004.0,6.9,973,-2.127110e-09
2323,Hayao Miyazaki,174.0,2.298191e-12,Adventure|Animation|Fantasy,Minnie Driver,Princess Mononoke,221552,570.0,Japanese,2.400000e-09,1997.0,8.4,11000,-2.397702e-09
3005,Lajos Koltai,73.0,1.958880e-13,Drama|Romance|War,Marcell Nagy,Fateless,5603,45.0,Hungarian,2.500000e-09,2005.0,7.1,607,-2.499804e-09
3859,Chan-wook Park,202.0,2.116670e-13,Crime|Drama,Min-sik Choi,Lady Vengeance,53508,131.0,Korean,4.200000e-09,2005.0,7.7,4000,-4.199788e-09
2988,Joon-ho Bong,363.0,2.201412e-12,Comedy|Drama|Horror|Sci-Fi,Doona Bae,The Host,68883,279.0,Korean,1.221550e-08,2006.0,7.0,7000,-1.221330e-08

In [206]:
# Write code for repeating subtask 2 here
new_df.loc[:, 'profit'] = new_df['gross'] - new_df['budget']
new_df = new_df.sort_values(by='profit', ascending=False)
new_top10 = new_df.nlargest(10, 'profit')
print(new_top10)

          director_name  num_critic_for_reviews         gross  \
0         James Cameron                   723.0  7.605058e-10
29      Colin Trevorrow                   644.0  6.521773e-10
26        James Cameron                   315.0  6.586723e-10
3024       George Lucas                   282.0  4.609357e-10
3080   Steven Spielberg                   215.0  4.349495e-10
794         Joss Whedon                   703.0  6.232795e-10
509        Roger Allers                   186.0  4.227838e-10
240        George Lucas                   320.0  4.745447e-10
66    Christopher Nolan                   645.0  5.333161e-10
439           Gary Ross                   673.0  4.079993e-10

                                        genres         actor_1_name  \
0              Action|Adventure|Fantasy|Sci-Fi          CCH Pounder
29            Action|Adventure|Sci-Fi|Thriller  Bryce Dallas Howard
26                               Drama|Romance    Leonardo DiCaprio
3024           Action|Adventure|Fantasy|Sci-Fi        Harrison Ford
3080                             Family|Sci-Fi         Henry Thomas
794                    Action|Adventure|Sci-Fi      Chris Hemsworth
509   Adventure|Animation|Drama|Family|Musical    Matthew Broderick
240            Action|Adventure|Fantasy|Sci-Fi      Natalie Portman
66                 Action|Crime|Drama|Thriller       Christian Bale
439            Adventure|Drama|Sci-Fi|Thriller    Jennifer Lawrence

                                     movie_title  num_voted_users  \
0                                        Avatar            886204
29                               Jurassic World            418214
26                                      Titanic            793059
3024         Star Wars: Episode IV - A New Hope            911097
3080                 E.T. the Extra-Terrestrial            281842
794                                The Avengers            995415
509                               The Lion King            644348
240   Star Wars: Episode I - The Phantom Menace            534658
66                              The Dark Knight           1676169
439                            The Hunger Games            701607

      num_user_for_reviews language        budget  title_year  imdb_score  \
0                   3054.0  English  2.370000e-10      2009.0         7.9
29                  1290.0  English  1.500000e-10      2015.0         7.0
26                  2528.0  English  2.000000e-10      1997.0         7.7
3024                1470.0  English  1.100000e-11      1977.0         8.7
3080                 515.0  English  1.050000e-11      1982.0         7.9
794                 1722.0  English  2.200000e-10      2012.0         8.1
509                  656.0  English  4.500000e-11      1994.0         8.5
240                 3597.0  English  1.150000e-10      1999.0         6.5
66                  4667.0  English  1.850000e-10      2008.0         9.0
439                 1959.0  English  7.800000e-11      2012.0         7.3

      movie_facebook_likes        profit
0                    33000  5.235058e-10
29                  150000  5.021773e-10
26                   26000  4.586723e-10
3024                 33000  4.499357e-10
3080                 34000  4.244495e-10
794                 123000  4.032795e-10
509                  17000  3.777838e-10
240                  13000  3.595447e-10
66                   37000  3.483161e-10
439                 140000  3.299993e-10

**Checkpoint 2:** You might spot two movies directed by `James Cameron` in the list.

-  ### Subtask 3.4: Find IMDb Top 250

    1. Create a new dataframe `IMDb_Top_250` and store the top 250 movies with the highest IMDb Rating (corresponding to the column: `imdb_score`). Also make sure that for all of these movies, the `num_voted_users` is greater than 25,000.
Also add a `Rank` column containing the values 1 to 250 indicating the ranks of the corresponding films.
    2. Extract all the movies in the `IMDb_Top_250` dataframe which are not in the English language and store them in a new dataframe named `Top_Foreign_Lang_Film`.

In [208]:
# Write your code for extracting the top 250 movies as per the IMDb score here. Make sure that you store it in a new dataframe 
# and name that dataframe as 'IMDb_Top_250'
IMDb_Top_250 = new_df[(new_df['num_voted_users'] > 25000)].nlargest(250, 'imdb_score').reset_index(drop=True)
IMDb_Top_250['Rank'] = range(1, 251)

In [136]:
#3Top_Foreign_Lang_Film = # Write your code to extract top foreign language films from 'IMDb_Top_250' here
Top_Foreign_Lang_Film = IMDb_Top_250[IMDb_Top_250['language'] != 'English']
Top_Foreign_Lang_Film

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,profit,Rank
8,Sergio Leone,181.0,6.100000e-18,Western,Clint Eastwood,"The Good, the Bad and the Ugly",503509,780.0,Italian,1.200000e-18,1966.0,8.9,20000,4.900000e-18,9
22,Fernando Meirelles,214.0,7.563397e-18,Crime|Drama,Alice Braga,City of God,533200,749.0,Portuguese,3.300000e-18,2002.0,8.7,28000,4.263397e-18,23
23,Akira Kurosawa,153.0,2.690610e-19,Action|Adventure|Drama,Takashi Shimura,Seven Samurai,229012,596.0,Japanese,2.000000e-18,1954.0,8.7,11000,-1.730939e-18,24
32,Hayao Miyazaki,246.0,1.004989e-17,Adventure|Animation|Family|Fantasy,Bunta Sugawara,Spirited Away,417971,902.0,Japanese,1.900000e-17,2001.0,8.6,28000,-8.950114e-18,33
54,Florian Henckel von Donnersmarck,215.0,1.128466e-17,Drama|Thriller,Sebastian Koch,The Lives of Others,259379,407.0,German,2.000000e-18,2006.0,8.5,39000,9.284657e-18,55
55,Majid Majidi,46.0,9.254020e-19,Drama|Family,Bahare Seddiqi,Children of Heaven,27882,130.0,Persian,1.800000e-19,1997.0,8.5,0,7.454020e-19,56
59,Raja Menon,39.0,NaN,Action|Drama|History|Thriller|War,Nimrat Kaur,Airlift,30977,178.0,Hindi,4.400000e-18,2016.0,8.5,10000,NaN,60
65,Asghar Farhadi,354.0,7.098492e-18,Drama|Mystery,Shahab Hosseini,A Separation,151812,264.0,Persian,5.000000e-19,2011.0,8.4,48000,6.598492e-18,66
68,Chan-wook Park,305.0,2.181290e-18,Drama|Mystery|Thriller,Min-sik Choi,Oldboy,356181,809.0,Korean,3.000000e-18,2003.0,8.4,43000,-8.187100e-19,69
70,Wolfgang Petersen,96.0,1.143313e-17,Adventure|Drama|Thriller|War,Jürgen Prochnow,Das Boot,168203,426.0,German,1.400000e-17,1981.0,8.4,11000,-2.566866e-18,71
72,S.S. Rajamouli,44.0,6.498000e-18,Action|Adventure|Drama|Fantasy|War,Tamannaah Bhatia,Baahubali: The Beginning,62756,410.0,Telugu,1.802615e-17,2015.0,8.4,21000,-1.152815e-17,73
74,Jean-Pierre Jeunet,242.0,3.320166e-17,Comedy|Romance,Mathieu Kassovitz,Amélie,534262,1314.0,French,7.700000e-17,2001.0,8.4,39000,-4.379834e-17,75
75,Hayao Miyazaki,174.0,2.298191e-18,Adventure|Animation|Fantasy,Minnie Driver,Princess Mononoke,221552,570.0,Japanese,2.400000e-15,1997.0,8.4,11000,-2.397702e-15,76
80,Rakeysh Omprakash Mehra,33.0,2.197331e-18,Comedy|Drama|History|Romance,Anupam Kher,Rang De Basanti,70233,321.0,Hindi,NaN,2006.0,8.4,0,NaN,81
104,Thomas Vinterberg,349.0,6.109680e-19,Drama,Thomas Bo Larsen,The Hunt,170155,249.0,Danish,3.800000e-18,2012.0,8.3,60000,-3.189032e-18,105
105,Fritz Lang,260.0,2.643500e-20,Drama|Sci-Fi,Brigitte Helm,Metropolis,111841,413.0,German,6.000000e-18,1927.0,8.3,12000,-5.973565e-18,106
106,Oliver Hirschbiegel,192.0,5.501940e-18,Biography|Drama|History|War,Thomas Kretschmann,Downfall,248354,564.0,German,1.350000e-17,2004.0,8.3,14000,-7.998060e-18,107
123,Guillermo del Toro,406.0,3.762314e-17,Drama|Fantasy|War,Ivana Baquero,Pan's Labyrinth,467234,1083.0,Spanish,1.350000e-17,2006.0,8.2,27000,2.412314e-17,124
124,Juan José Campanella,262.0,2.016742e-17,Drama|Mystery|Thriller,Ricardo Darín,The Secret in Their Eyes,131831,231.0,Spanish,2.000000e-18,2009.0,8.2,33000,1.816742e-17,125
132,Denis Villeneuve,226.0,6.857096e-18,Drama|Mystery|War,Lubna Azabal,Incendies,80429,156.0,French,6.800000e-18,2010.0,8.2,37000,5.709600e-20,133
137,Hayao Miyazaki,212.0,4.710455e-18,Adventure|Animation|Family|Fantasy,Christian Bale,Howl's Moving Castle,214091,330.0,Japanese,2.400000e-17,2004.0,8.2,13000,-1.928955e-17,138
141,Rajkumar Hirani,15.0,NaN,Comedy|Drama|Romance,Vidya Balan,Lage Raho Munna Bhai,27569,106.0,Hindi,1.200000e-16,2006.0,8.2,349,NaN,142
181,Alejandro G. Iñárritu,157.0,5.383834e-18,Drama|Thriller,Adriana Barraza,Amores Perros,173551,361.0,Spanish,2.000000e-18,2000.0,8.1,11000,3.383834e-18,182
183,Thomas Vinterberg,98.0,1.647780e-18,Drama,Ulrich Thomsen,The Celebration,65951,258.0,Danish,1.300000e-18,1998.0,8.1,5000,3.477800e-19,184
185,José Padilha,142.0,8.060000e-21,Action|Crime|Drama|Thriller,Wagner Moura,Elite Squad,81644,107.0,Portuguese,4.000000e-18,2007.0,8.1,11000,-3.991940e-18,186
186,Alejandro Amenábar,157.0,2.086345e-18,Biography|Drama|Romance,Belén Rueda,The Sea Inside,64556,140.0,Spanish,1.000000e-17,2004.0,8.1,0,-7.913655e-18,187
188,Je-kyu Kang,86.0,1.110186e-18,Action|Drama|War,Min-sik Choi,Tae Guk Gi: The Brotherhood of War,31943,224.0,Korean,1.280000e-17,2004.0,8.1,0,-1.168981e-17,189
189,Katsuhiro Ôtomo,150.0,4.391620e-19,Action|Animation|Sci-Fi,Mitsuo Iwata,Akira,106160,430.0,Japanese,1.100000e-15,1988.0,8.1,0,-1.099561e-15,190
190,Andrei Tarkovsky,144.0,NaN,Drama|Mystery|Sci-Fi,Donatas Banionis,Solaris,54057,236.0,Russian,1.000000e-18,1972.0,8.1,0,NaN,191
234,Sergio Leone,122.0,3.500000e-18,Action|Drama|Western,Clint Eastwood,A Fistful of Dollars,147566,235.0,Italian,2.000000e-19,1964.0,8.0,0,3.300000e-18,235
236,Walter Salles,71.0,5.595428e-18,Drama,Fernanda Montenegro,Central Station,28951,257.0,Portuguese,2.900000e-18,1998.0,8.0,0,2.695428e-18,237
238,Ari Folman,231.0,2.283276e-18,Animation|Biography|Documentary|Drama|History|War,Ari Folman,Waltz with Bashir,46107,156.0,Hebrew,1.500000e-18,2008.0,8.0,0,7.832760e-19,239
240,Vincent Paronnaud,242.0,4.443403e-18,Animation|Biography|Drama|War,Catherine Deneuve,Persepolis,70194,158.0,French,7.300000e-18,2007.0,8.0,14000,-2.856597e-18,241
246,Karan Johar,210.0,4.018695e-18,Adventure|Drama|Thriller,Shah Rukh Khan,My Name Is Khan,69759,235.0,Hindi,1.200000e-17,2010.0,8.0,27000,-7.981305e-18,247

**Checkpoint 3:** Can you spot `Veer-Zaara` in the dataframe?

- ### Subtask 3.5: Find the best directors

    1. Group the dataframe using the `director_name` column.
    2. Find out the top 10 directors for whom the mean of `imdb_score` is the highest and store them in a new dataframe `top10director`.

In [214]:
# Write your code for extracting the top 10 directors here
director_mean_imdb = new_dm.groupby('director_name')['imdb_score'].mean().reset_index()
top10directors = director_mean_imdb.sort_values('imdb_score', ascending=False).head(10)

top10directors

              director_name  imdb_score
216         Charles Chaplin    8.600000
1675              Tony Kaye    8.600000
45         Alfred Hitchcock    8.500000
1440             Ron Fricke    8.500000
302         Damien Chazelle    8.500000
1017           Majid Majidi    8.500000
1498           Sergio Leone    8.433333
260       Christopher Nolan    8.425000
1467         S.S. Rajamouli    8.400000
1035  Marius A. Markevicius    8.400000

**Checkpoint 4:** No surprises that `Damien Chazelle` (director of Whiplash and La La Land) is in this list.

-  ### Subtask 3.6: Find popular genres

You might have noticed the `genres` column in the dataframe with all the genres of the movies seperated by a pipe (`|`). Out of all the movie genres, the first two are most significant for any film.

1. Extract the first two genres from the `genres` column and store them in two new columns: `genre_1` and `genre_2`. Some of the movies might have only one genre. In such cases, extract the single genre into both the columns, i.e. for such movies the `genre_2` will be the same as `genre_1`.
2. Group the dataframe using `genre_1` as the primary column and `genre_2` as the secondary column.
3. Find out the 5 most popular combo of genres by finding the mean of the gross values using the `gross` column and store them in a new dataframe named `PopGenre`.

In [218]:
# Write your code for extracting the first two genres of each movie here
new_dm['genres_list'] = new_dm['genres'].str.split(', ')
new_dm['genre_1'] = new_dm['genres_list'].apply(lambda x: x[0] if len(x) > 0 else None)
new_dm['genre_2'] = new_dm['genres_list'].apply(lambda x: x[1] if len(x) > 1 else x[0])

In [220]:
#movies_by_segment = # Write your code for grouping the dataframe here
movies_by_segment = new_dm.groupby(['genre_1', 'genre_2']).size().reset_index(name='count')

In [228]:
#PopGenre = # Write your code for getting the 5 most popular combo of genres here
genre_gross_mean = new_dm.groupby(['genre_1', 'genre_2'])['gross'].mean().reset_index()
PopGenre = genre_gross_mean.sort_values('gross', ascending=False).head(5)
PopGenre

,genre_1,genre_2,gross
731,Family|Sci-Fi,Family|Sci-Fi,0.000435
281,Adventure|Animation|Drama|Family|Musical,Adventure|Animation|Drama|Family|Musical,0.000423
258,Adventure|Animation|Comedy|Drama|Family|Fantasy,Adventure|Animation|Comedy|Drama|Family|Fantasy,0.000356
126,Action|Biography|Drama|History|Thriller|War,Action|Biography|Drama|History|Thriller|War,0.000350
93,Action|Adventure|Fantasy|Sci-Fi,Action|Adventure|Fantasy|Sci-Fi,0.000297

**Checkpoint 5:** Well, as it turns out. `Family + Sci-Fi` is the most popular combo of genres out there!

-  ### Subtask 3.7: Find the critic-favorite and audience-favorite actors

    1. Create three new dataframes namely, `Meryl_Streep`, `Leo_Caprio`, and `Brad_Pitt` which contain the movies in which the actors: 'Meryl Streep', 'Leonardo DiCaprio', and 'Brad Pitt' are the lead actors. Use only the `actor_1_name` column for extraction. Also, make sure that you use the names 'Meryl Streep', 'Leonardo DiCaprio', and 'Brad Pitt' for the said extraction.
    2. Append the rows of all these dataframes and store them in a new dataframe named `Combined`.
    3. Group the combined dataframe using the `actor_1_name` column.
    4. Find the mean of the `num_critic_for_reviews` and `num_user_for_review` and identify the actors which have the highest mean.

In [230]:
# Write your code for creating three new dataframes here

Meryl_Streep = new_dm[new_dm['actor_1_name'] == 'Meryl Streep']

In [236]:
Leo_Caprio = new_dm[new_dm['actor_1_name'] == 'Leonardo DiCaprio']

In [234]:
Brad_Pitt =  new_dm[new_dm['actor_1_name'] == 'Brad Pitt']

In [238]:
# Write your code for combining the three dataframes here
Combined = pd.concat([Meryl_Streep, Leo_Caprio, Brad_Pitt])

In [240]:
# Write your code for grouping the combined dataframe here
Combined_Grouped = Combined.groupby('actor_1_name')

In [244]:
# Write the code for finding the mean of critic reviews and audience reviews here
Actor_Mean_Reviews = Combined_Grouped[['num_critic_for_reviews', 'num_user_for_reviews']].mean().reset_index()

        actor_1_name  num_critic_for_reviews  num_user_for_reviews
0          Brad Pitt              245.000000            742.352941
1  Leonardo DiCaprio              330.190476            914.476190
2       Meryl Streep              181.454545            297.181818

**Checkpoint 6:** `Leonardo` has aced both the lists!